<html>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="home">
        <h2>Page not Found</h2>
        <h1>Sorry.....!</h1>
        <a href ="/"> Back to Home Page</a>
    </div>
</body>
</html>

