<html>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="home">
        <h2>Sucessful</h2>
        <a href ="/"> Back to Home Page</a>
    </div>
</body>
</html>